






.container
{
    display: flex;
    flex:1;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 700px;
}

.uname
{

  height:50px;
  width:100%;
  display:flex;
  flex-direction:row;
}

.submit
{
  width:100%;
  height:55px;
  background-color:#8A2BE2;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:25px;
  font-size:35px;
  color:grey;
  font-family:Arial;
  color:white;
  border:0.5px solid black;
}

.pass
{

  height:50px;
  width:100%;
  display:flex;
  flex-direction:row;
}



.form-container
{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  justify-content:space-evenly;
  background-color:white;
  padding:10px;
  height:70%;
  width:25%;
  margin-bottom:25px;
  box-shadow: 1px 1px 1px black;

}



input
{
  width:100%;
  border:1px solid black;
  height:55px;
  font-size:35px;
  color:grey;
  font-family:Arial;
  text-align:left;
}

.block
{
  height:100%;
  width:10%;
  background-color:black;
  padding-bottom:2px;
}




.logo-container
{
  display:flex;
  flex:1;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  margin-top:20px;


}

.logo
{
  font-family:Garamond;
  font-weight:bold;
  font-size:100px;
  color:white;
  background-color:tomato;
  padding:0px 20px 0px 20px;
  border: 10px double white;
  text-shadow: 1px 1px silver;
  box-shadow: 2px 2px whitesmoke;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  /* Prevent background color leak outs */

}



body
{
  background-color:rgba(255, 0, 0, 0.6);

}
