body {
  margin: 0px;
  background: #eee;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Overpass', sans-serif;
}

/* ensures content stays 20% away from left of screen */
.container {
  width: 80%;
  margin: 0 auto;
}

/* begin header styles */
header {
  background-color: #00F8FF;
  text-align: center;
  padding: 20px;
}

/* prevents header background from disappearing */
header::after {
  content: '';
  display: table;
  clear: both;
}

.button {
    background-color: #FF6200;
    border: none;
    color: #fff;
    padding: 15px 32px;
    margin: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 7px 12px -5px rgba(0,0,0,0.75);
    border-radius: 10px;
  }

  .button:hover {
      background-color: #B24500;
      color: #eee;
  }

#logo {
  float: left;
  padding: 10px 0px;
}

.topnav {
  float: right;
}

.topnav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.topnav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
}

.topnav a {
  color: #444;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  color: #000;
  background-color: #fff;
}

/* begin main styles */
main {
  text-align: center;
}

main ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* styles for welcome page */
.big-title {
    font-size: 7rem;
    margin-bottom: 20px;
    
}

.big-title-container {
    padding-top: 70px;
    padding-bottom: 50px;
}

.bottom-container {
    padding-bottom: 100px;
}

.sm-hr {
    align-content: center;
    width: 25%;
    border: 5px solid #000;
    height: 3px;
    margin-bottom: 20px;
}

.welcome-button {
    width: 200px;
}

#img-bg {
    background-image: url("img/harmony-bg.jpg");
    background-color: #fff;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome-logo {
    margin-top: -30px;
    margin-bottom: -60px;
}